
// Настройки заголовков
h1,h2,h3,h4,h5
  margin: 0

.title
  position: relative
  +neubau
  font-weight: 700
  font-style: italic
  text-transform: uppercase
  color: #ffffff
  span
    color: $red

// Настройки параграфов
p
  margin: 0

// Настройки кнопок
.button
  position: relative
  +black
  outline: none
  border: none
  box-shadow: inset 0 0 40px rgba(197, 5, 0, 0.5)
  border-radius: 25px
  font-size: 12px
  background: $btnGradient
  color: #ffffff
  text-transform: uppercase
  cursor: pointer
  padding: 20px 22px
  transition: 0.3s
  &:hover
    box-shadow: inset 0 6px 5px #720500
  img
    pointer-events: none

// Настройки инпутов
input
  position: relative
  outline: none
  border: none
  background-color: #fff
  &::placeholder
    font-size: 14px
    +light
    color: #000000
.input-select::placeholder
  background: url(../images/cost/arrow-down.png) no-repeat right
input[type="text"]::placeholder
  font-size: 14px

// Настройки select
.wrap-input-phone
  position: relative
.select
  position: relative
  width: 100%
  select
    width: 100%
    min-height: 42px 
    margin-bottom: 16px
    border-radius: 20px
    padding: 12px 22px
    font-size: 14px
    +light
    color: #000000
    border: none
    outline: none
    background-color: #fff
    appearance: none
    -moz-appearance: none
    cursor: pointer
  &:after
    content: ''
    position: absolute
    transform: translateY(-50%)
    top: calc(50% - 8px)
    right: 22px
    background: url(../images/cost/arrow-down.png) no-repeat right
    pointer-events: none
    width: 12px
    height: 8px
    z-index: 1000
.error-block
  display: none
  position: absolute
  text-align: center
  padding: 8px 0
  border-radius: 10px
  box-shadow: 0 0px 5px $red
  font-size: 14px
  top: -35px
  left: 50%
  transform: translateX(-50%)
  min-width: 145px
  max-width: 150px
  background-color: #fff
  color: $red
  z-index: 100
  &:before
    position: absolute
    content: ''
    display: block
    box-shadow: 1px 1px 1px $red
    width: 10px
    height: 10px
    background-color: #fff
    bottom: -5px
    left: 50%
    transform: translateX(-50%) rotate(45deg)
.error-active
  display: block
  animation: errorIn 1.5s cubic-bezier(0.33, 0.08, 0.18, 1.14)
.error-out
  display: block
  animation: errorOut 1.2s cubic-bezier(0.33, 0.08, 0.18, 1.14)

// Настройки map
#map
  width: 100%
  height: 554px
  border: 0