@media (max-width: 1200px)
  .container
    width: 98%
  .header
    &-main
      &-title
        line-height: 40px
  .title
    font-size: 35px

  .services
    &-wrapper
      &-block
        padding: 20px 15px 16px 15px
        & .block-text
          min-height: 64px
        & .block-title
          font-size: 23px

  .power
    &-wrapper
      &-block
        font-size: 18px
        .block-item-img
          margin-bottom: 10px
          min-height: 162px
  
  .factory
    &-wrapper
      &-cause
        .cause-block
          &-text
          &-title
          &-img
      &-content
        .content-block
          &-text
            max-width: 50%
        .content-block-active
    &-title
    &-subtitle
    &-block-info
      font-size: 22px
  
  .result
    &-wrapper
      justify-content: space-around
    &-block
      &-left
        width: 50%
        margin-right: 0
      &-right
        .block-right-wrap-btn

  .section-form
    &-title
      max-width: 550px

  .guarantee
    &-wrapper__image
      display: none

  .test
    &-drive
      &-title
        max-width: 460px
      &-wrapper
        justify-content: space-between
      &-form
        padding: 35px 45px 35px 45px
        max-width: 340px
      &-content
        margin-right: 30px
      &-item-img
        min-width: 120px
      &-two-items
        margin-right: 0
      &-item-text
        font-size: 15px

  .faq
    padding-bottom: 0
    &-title
      margin-bottom: 40px
    &-image-block
      align-self: flex-end
      img
        margin-bottom: -200px
    &-tab-head

  .map-block
    &-contacts
      left: -1% 