@media (max-width: 476px)
  .container
  .title
    font-size: 18px
    line-height: 24px
  .header
    &-logo
      &__img
        max-width: 100px
        img
          width: 100%
    &-main
      &-title
        max-width: 270px
        margin: 8px auto 5px
      &-desc
        font-size: 17px
        max-width: 215px
        margin: 0 auto 21px
        span
          font-size: 18px
  .services
    background-position: top
    &-content
      &-desc
        max-width: 270px
        margin: 0 auto 20px
        span
          display: none
      &-auto
        p
          max-width: 270px
          margin: 0 auto

  .factory
    &-subtitle
      font-size: 17px
    &-wrapper
      &-content
        margin-bottom: 30px
        .content-block
          &-text
            font-size: 14px
          &-img
            max-width: 95%
    &-block
      &-info
        overflow: hidden
        background-size: cover
        padding: 15px
        p
          z-index: 1
          filter: drop-shadow(2px 4px 6px black)
        img
          position: absolute
          transform: scale(0.6)
          z-index: 0
          right: -70px