@media (max-width: 1200px)
  .container
    width: 98%
  .header
    &-main
      &-title
        line-height: 40px
  .title
    font-size: 35px

  .services
    &-wrapper
      &-block
        padding: 20px 15px 16px 15px
        & .block-text
          min-height: 64px
        & .block-title
          font-size: 23px

  .power
    &-wrapper
      &-block
        font-size: 18px
        .block-item-img
          margin-bottom: 10px
          min-height: 162px
  
  .factory
    &-wrapper
      &-cause
        .cause-block
          &-text
          &-title
          &-img
      &-content
        .content-block
          &-text
            max-width: 50%
        .content-block-active
    &-title
    &-subtitle
    &-block-info
      font-size: 22px
  