@media (max-width: 476px)
  .container
  .title
    font-size: 21px
  .header
    &-logo
      &__img
        max-width: 100px
        img
          width: 100%
    &-main
      &-title
        max-width: 270px
        margin: 8px auto 5px
      &-desc
        font-size: 17px
        max-width: 215px
        margin: 0 auto 21px
        span
          font-size: 18px
  .services
    background-position: top
    &-content
      &-desc
        max-width: 270px
        margin: 0 auto 20px
        span
          display: none
      &-auto
        p
          max-width: 270px
          margin: 0 auto
