@mixin black
  font-family: 'MullerBlack', sans-serif
@mixin bold
  font-family: 'MullerBold', sans-serif
@mixin light
  font-family: 'MullerLight', sans-serif
@mixin medium
  font-family: 'MullerMedium', sans-serif
@mixin regular
  font-family: 'MullerRegular', sans-serif
@mixin progress
  font-family: 'Progress', sans-serif

  
@mixin textGradient
  background: linear-gradient(24deg, #c50500 33%, #eb4311 66%, #eb4b14)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text

@mixin hoverGradient
  background: linear-gradient(24deg, #eb4b14 30%, #eb4311 60%, #c50500)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text